* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.content {
    width: 80%;
    margin: 0 auto;
}
/* header */
nav {
    height: 90px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
}
.header-item {
    display: inline-block;
    line-height: 90px;
}
.header-left {
    width: 300px;
    flex-grow: 1;
}
.header-center {
    display: block;
}
.header-right {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
nav .menu {
    margin: 0;
    padding: 0;
}
nav .menu li {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    padding: 0 80px 0 0;
}
nav .menu li a {
    color: #2d3436;
}
nav .menu li a:hover {
    color: #e17055;
}
nav a.logo {
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 2.4rem;
}
.search-box {
    margin-right: 20px;
}
.search-box:hover > .search-btn, .search-txt:focus + .search-btn {
    color: #4b4b4b;
}
.search-box:hover > .search-txt, .search-txt:focus {
    width: 150px;
    border-bottom-color: #4b4b4b;
}
.search-txt {
    padding: 5px 0;
    border: none;
    outline: none;
    width: 0;
    font-size: 16px;
    border-bottom: 1px #84817a solid;
    transition: 0.2s;
}
.search-btn {
    float: left;
    color: #84817a;
    transition: 0.2s;
    margin-right: 15px;
}
nav a.login-btn {
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    color: #16a085;
    font-size: 1.1rem;
}
nav a.login-btn:hover {
    color: #218c74;
}
.avatar {
   display: flex;
   align-items:center;
   justify-content: center;
}
.avatar img {
    width: 32px;
    height: 32px;
}
/* main */
main div.content {
    display: flex;
}
.main-content {
    width: 67%;
}
.post-list {
    padding-top: 35px;
}
.post-list li.post-item {
    list-style: none;
    margin: 20px 0 50px;
}
.post-list a {
    text-decoration: none;
}
.post-title {
    color: #2d3436;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.post-abstract {
   color: #636e72;
   margin-bottom: 20px;
}
.post-info {
    font-size: small;
}
.post-author {
    color: #1e272e;
    margin-right: 20px;
}
.post-date {
    color: #636e72;
}
.page-footer {
    margin-bottom: 40px;
}
.pagination {
    text-align: center;
}
.page-item {
    list-style: none;
    display: inline-block;
}
.page-item {
    padding: 5px 12px;
}
.page-link {
    text-decoration: none;
    color: #1e272e;
    font-size: 1.1rem;
}
.page-start {
    padding-right: 6px;
}
.page-end {
    padding-left: 6px;
}
.active {
    pointer-events: none;
    background: #e17055;
    border-radius: 3px;
}
.active a {
    color: #fff;
}
.extra {
    width: 33%;
    border: 1px saddlebrown solid;
    padding: 20px 30px;
}
.categories {
    margin: 10px 20px;
}
/* footer */
footer {
    height: 60px;
    text-align: center;
}
.footer-info {
    line-height: 60px;
}