body {
    margin: 0;
    padding: 0;
    background-color: #dfe6e9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* header */
header {
    background-color: #fff;
}
nav {
    height: 70px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.header-item {
    display: inline-block;
    line-height: 70px;
}
.header-left {
    width: 300px;
}
.header-center {
    flex: 1;
}
.header-right {
    width: 300px;
}
nav .menu {
    margin: 0;
    padding: 0;
}
nav .menu li {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    padding: 0 80px 0 0;
}
nav .menu li a {
    color: #2d3436;
}
nav .menu li a:hover {
    color: #e17055;
}
nav a.logo {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 2.4rem;
}
.search-box:hover > .search-btn {
    color: #4b4b4b;
}
.search-box:hover > .search-txt, .search-txt:focus {
    width: 150px;
    border-bottom-color: #4b4b4b;
}
.search-txt {
    margin: 0 15px;
    padding: 5px 0;
    border: none;
    outline: none;
    width: 0;
    font-size: 16px;
    border-bottom: 1px #84817a solid;
    transition: 0.3s;
}
.search-btn {
    float: left;
    color: #84817a;
    transition: 0.3s;
}
nav a.login-btn {
    width: 30%;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    color: #16a085;
    font-size: 1.1rem;
    float: right;
}
nav a.login-btn:hover {
    color: #218c74;
}

/* main */
main {
    margin: 10px 0;
    background-color: #fff;
}
.content {
    width: 80%;
    margin: 0 auto;
}
.post-list {
    width: 67%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.post-list li.post-item {
    list-style: none;
}
.post-list a{
    text-decoration: none;
}
.post-list .post-title {
    color: #2d3436;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.extra {
    width: 32%;
}